Code - Insiders
QtProject.conf
baloofileinformationrc
dconf
dolphinrc
gh
micro/backups
micro/buffers
mozilla/firefox
psd
session
pulse
manicode
go
net.imput.helium
mimeapps.list
quickshell/cache
zsh/.zcompdump-*
zsh/.zsh_history
chromium
librewolf
.DS_Store
trashrc
pavucontrol.ini
opencode
vesktop
openrazer
polychromatic
cachyos-hello.json
cachyos
systemd
spotify
/gtk-3.0/bookmarks
btop

# GAME STUFF
unity3d
openstarbound
vkBasalt
lsfg-vk
vkSumi
MangoHud
goverlay
StardewValley
NNF_FULLVERSION
AmethystModManager
faugus-launcher
